<?xml version="1.0" standalone="no"?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">
<service-group>
  <name replace-wildcards="yes">HP LaserJet Network Printer</name>
  <service>
    <type>_ipp._tcp</type>
    <port>631</port>
    <txt-record>product=HP LaserJet</txt-record>
  </service>
</service-group>
